<div class="card mt-5" style="margin:auto;width: 600px;">
  <div class="card-body">
    <h5 class="card-title">Login</h5>
    <form class="forms-sample" (ngSubmit)="tryLogin()">
      <div class="form-group">
        <label for="exampleInputEmail3">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail3" [(ngModel)]="log.email" name="email" placeholder="Email Address">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword4">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword4" [(ngModel)]="log.password" name="password" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-success mr-2">Submit</button>
    </form>
  </div>
</div>