<div class="container-scroller">
  <app-navbar></app-navbar>
  <div class="container-fluid page-body-wrapper">
    <div *ngIf="user">
      <app-sidebar></app-sidebar>
    </div>
    <div class="main-panel" style="background-image: url('assets/images/pexels-photo-259200.jpeg');">
      <div class="content-wrapper" style="background-image: url('assets/images/pexels-photo-259200.jpeg');">
        <router-outlet></router-outlet>
      </div>
      <app-footer></app-footer>
    </div>
  </div>
</div>
