.navbar[_ngcontent-c1] {
    font-family: "Poppins", sans-serif;
    background: #5983e8;
    transition: background 0.25s ease;
    -webkit-transition: background 0.25s ease;
    -moz-transition: background 0.25s ease;
    -ms-transition: background 0.25s ease;
}

.navbar[_ngcontent-c1] .navbar-brand-wrapper[_ngcontent-c1] {
    transition: width 0.25s ease, background 0.25s ease;
    -webkit-transition: width 0.25s ease, background 0.25s ease;
    -moz-transition: width 0.25s ease, background 0.25s ease;
    -ms-transition: width 0.25s ease, background 0.25s ease;
    background: #5983e8;
    width: 255px;
    height: 63px;
}